<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{{edit}} Song</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">

</head>
<body style="background-color: rgb(24, 134, 24);">
  <div class="body">

    {% if edit == "Edit" %}
      {% set displayFile = "none" %}
      {% set title = "Editing: " + fileName %}
    {% else %}
      {% set displayFile = "show" %}
      {% set title = "Add Song" %}
    {% endif %}



    <h1>{{title}}</h1>
    <p><a class="smallButtonBlue" href="/">home</a> <a class ="smallButton" href="/playSong?fileLocation={{fileName}}">&#9658 play</a></p>
    <form action="/addSongData">


      {% if edit == "Edit" %}
        {% set displayFile = "none" %}
      {% else %}
        {% set displayFile = "show" %}
      {% endif %}
      <span style="display: {{displayFile}}" >
        File Name:
        <input name="file" type="text" placeholder="File Name" value="{{fileName}}" required>
        <br>
        <br>
      </span>
  
      Color Picker:
      <input type="color" name="color" required>
      <br>
      <br>
      Delay(in ms) after set command:
      <input name="delay" type="number" placeholder="delay" min="0" required>
      <br>
      <br>
      <input class="button" type="submit" value="Add">
    </form>

    <h2>Current Show Set Up:</h2>
    {% for line in lines %}

      <div class="row">
        <form action="/editLine">
          <input type="hidden" name="line" value="{{line[4]}}">
          <input type="hidden" name="fileName" value="{{fileName}}">
          <input type="color" name="color" value="{{line[5]}}" onblur="this.form.submit()" required>
          Delay: <input type="number" name="delay" value="{{line[3]}}" min="0" onblur="this.form.submit()" required>
          <a href="/editLine?d=t&line={{line[4]}}&fileName={{fileName}}">delete</a>
          <br>
        </form>
      </div>
      
    {% endfor %}
  </div>
</body>
</html>